<div class="container">
    <div class="card">
        <div class="title">
            <h1>Registrarse</h1>
        </div>
        <div class="campos">
            <form (ngSubmit)="registrar()">
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input [(ngModel)]="usuario.name" type="text" id="nombre"  name="nombre" placeholder="Juan" required />                </div>
                <div class="form-group">
                    <label for="apellido">Apellido</label>
                    <input  [(ngModel)]="usuario.lastName" type="text" id="apellido"  name="apellido" placeholder="Perez" required />
                </div>
                <div class="form-group">
                    <label for="telefono">Telefono</label>
                    <input  [(ngModel)]="usuario.phone" type="text" id="telefono" name="telefono" placeholder="1166554433" required />
                </div>
                <div class="form-group">
                    <label for="direccion">Direccion</label>
                    <input  [(ngModel)]="usuario.direction" type="text" id="direccion"  name="direccion" placeholder="Av Corrientes 3220" required />
                </div>
                <div class="form-group">
                    <label for="direccion">Distrito</label>
                    <input  [(ngModel)]="usuario.district" type="text" id="distrito"  name="distrito" placeholder="Av Corrientes 3220" required />
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input  [(ngModel)]="usuario.email" type="email" id="email"  name="email" placeholder="juan@gmail.com" required />
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input  [(ngModel)]="usuario.password" type="password" id="password"  name="password" placeholder="********" required />
                </div>
               
                <button type="submit">Enviar</button>
                <br>
                <div class="texto">
                    <p>¿Ya tenés cuenta? <a (click)="navegar('/login')">Iniciar sesión</a></p>
                </div>
            </form>
        </div>

       
    </div>
</div>
