<footer class="footer">
    <div class="footer-content">
      <div class="footer-section">
        <h4>Sobre Nosotros</h4>
        <p>
          Patitas al Rescate es una plataforma dedicada a 
          <br>
          reunir mascotas perdidas con sus familias. 
          
        </p>
      </div>
      <div class="footer-section">
        <h4>Enlaces Rápidos</h4>
        <ul>
            <li (click)="navegar('home')">Inicio</li>
            <li (click)="navegar('anuncios')">Anuncios</li>
            <li (click)="navegar('nosotros')">Sobre nosotros</li>
        </ul>
      </div>
      <div class="footer-section">
        <h4>Contacto</h4>
        <div class="social-icons">
            <a href="https://www.facebook.com" target="_blank" aria-label="Facebook">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://www.twitter.com" target="_blank" aria-label="Twitter">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="https://www.instagram.com" target="_blank" aria-label="Instagram">
              <i class="fab fa-instagram"></i>
            </a>
          </div>
      </div>
    </div>
    <div class="footer-bottom">
      <p>© Monster Developer 2024
  
