:host {
    font-family: "DynaPuff", system-ui;
}

header {
    display: flex; /* Distribuye los elementos en una fila */
    justify-content: space-between; /* Coloca los elementos a los lados */
    align-items: center; /* Centra los elementos verticalmente */
    background-color: #f8c7b5; /* Fondo color salmón */
    padding: 10px 20px;
}

nav {
    background-color: #a689d4; /* Color morado para toda la barra */
   
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

}

nav ul {
    list-style: none;
    display: flex; /* Alinea los elementos en fila */
    padding: 0;
    margin: 0;
}

nav ul li {
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    color: #ffffff;
    padding: 15px 20px;
    margin: 0 10px;
    border-radius: 10px;
    background-color: #a689d4;
    transition: background-color 0.3s ease;
}

nav ul li:hover {
    background-color: #d1b3e6;
    transform: scale(0.9);
    cursor: pointer;
}


/* Alineación de las imágenes de los animales */
.cabecera {
    background-color: #ffffff;
    padding: 40px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    display: flex; /* Usamos flexbox para alinear los elementos en fila */
    align-items: center; /* Alineamos los elementos verticalmente en el centro */
}

.logo-img {
    width: 100px; /* Ajusta el tamaño del logo según sea necesario */
    margin-right: 10px; /* Espacio entre el logo y el nombre */
}

.boton-iniciar-sesion{
    margin-right: 5px;
    padding: 10px 20px;
    font-size: 1.5em;
    font-family: "DynaPuff", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
    background-color: #a689d4; /* Color morado para el botón */
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.boton-iniciar-sesion:hover {
   transform: scale(1.2);
  
}

img {
    border-radius: 50px;
}

.auth-button button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #a689d4; /* Green background */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .auth-button button:hover {
    background-color: #a689d4;
  }