<div class="container">

    <div class="title">
        <h1>Sobre Nosotros</h1>
    </div>
    <div class="nosotros">
        <p>En <span>Patitas al Rescate</span>, nuestra misión es conectar a personas que han perdido a sus amadas mascotas con rescatistas y miembros de la comunidad que desean ayudar. <br> Sabemos que las mascotas son miembros de la familia, y perderlas es una experiencia angustiante. <br> Por eso, creamos esta plataforma con el objetivo de centralizar y agilizar la búsqueda, ofreciendo herramientas fáciles de usar para reportar mascotas perdidas y encontradas.
            
        </p>
        <br>
        <p>Nuestro equipo está formado por amantes de los animales comprometidos con la causa, trabajando día a día para mejorar este espacio digital y ayudar a reunir a las familias con sus mascotas. Patitas al Rescate es más que un portal; es una red solidaria donde cada usuario tiene un papel importante en devolverle la felicidad a un hogar</p>
        <br>
        <p>Juntos, hacemos la diferencia y demostramos que la empatía y la colaboración son clave para un mundo donde ninguna mascota quede atrás. ¡Gracias por ser parte de esta misión!</p>

        <h2>¡Únete a Nuestro Equipo!</h2>
        <p> Si compartes nuestra pasión por los animales y quieres ser parte de esta misión, te invitamos a unirte a nuestro equipo. <br> 
            Juntos, podemos marcar la diferencia, aportando ideas, habilidades y ganas de ayudar. Tu colaboración, por pequeña que sea, es vital para que ninguna mascota quede atrás. ¡Contamos contigo para seguir construyendo esta red de esperanza y amor!
            
            <br>
            <!-- <button type="submit" (click)="navegar('registro')">Unirse</button> -->
        </p>
    </div>
</div>