<h1>Anuncio de mascotas perdidas</h1>

<div class="anuncios">
    <h3>Manchitas</h3>
    <h4>avellaneda</h4>
    <h5>dia 25/10/2024</h5>
    <p>Se perdio mi perra manchitas es una pitbul de 2 años, se perdio en la zona de piñeiro avellaneda tiene un collar blanco y una mancha en forma de estrella en su costado izquierdo</p>
    <button>contactate</button>
</div>
<div class="anuncios">
    <h3>Manchitas</h3>
    <h4>avellaneda</h4>
    <h5>dia 25/10/2024</h5>
    <p>Se perdio mi perra manchitas es una pitbul de 2 años, se perdio en la zona de piñeiro avellaneda tiene un collar blanco y una mancha en forma de estrella en su costado izquierdo</p>
    <button>contactate</button>
</div>
<div class="anuncios">
    <h3>Manchitas</h3>
    <h4>avellaneda</h4>
    <h5>dia 25/10/2024</h5>
    <p>Se perdio mi perra manchitas es una pitbul de 2 años, se perdio en la zona de piñeiro avellaneda tiene un collar blanco y una mancha en forma de estrella en su costado izquierdo</p>
    <button>contactate</button>
</div>