
<div class="container">
  <video autoplay loop muted playsinline class="background-video">
    <source src="https://videos.pexels.com/video-files/3144446/3144446-hd_1920_1080_25fps.mp4" type="video/mp4">
</video>
  <div class="card">
      <div class="title">
          <h1>Login</h1>
      </div>
      <div class="campos">
          <form action="">
             
              <div class="form-group">
                  <input type="email" placeholder="juan@gmail.com">
              </div>
              <div class="form-group">
                  <input type="password" placeholder="********">
              </div>
              
              <button type="submit">Ingresar</button>
              <br>
              <div class="texto">
                <p>Si no tenes cuenta  <a (click)="navegar('registro')">registrate</a></p>
              </div>
          </form>
      </div>

      
  </div>
</div>
