<div class="container">
    <h1>Bienvenidos a [inserte nombre]</h1>
    <p>Tu mascota está perdida? Encontraste una mascota perdida? </p>
  
    <div class="cards">
      <div class="card">
        <i class="fa-solid fa-magnifying-glass fa-2xl" style="color: #B197FC;"></i>
        <br>
        <br>
        <h3>Buscá entre las publicaciones</h3>
        <p>Si tu mascota está perdida podés buscar entre los anuncios si alguien la encontró</p>
      </div>
  
      <div class="card">
        <i class="fa-solid fa-clipboard fa-2xl" style="color: #B197FC;"></i>
        <br>
        <br>
        <h3>Publicá un anuncio</h3>
        <p>Ya sea que encontraste una mascota o tu mascota perdida no está en ninguno de los anuncios, podés subir tu propia publicación.</p>
      </div>
  
      <div class="card">
        <i class="fa-solid fa-dog fa-2xl" style="color: #B197FC;"></i>
        <bR>
        <br>
        <h3>Reencontrate</h3>
        <p>Te acercamos los datos de contacto para que los dueños se reencuentren con su mascota</p>
      </div>
    </div>
  </div>