<div class="container">
    <div class="titulo">
        <h1>Datos de la publicacion</h1>
    </div>
    <div class="containerForm">

        <form [formGroup]="formularioAnuncio" (ngSubmit)="enviarAnuncio()">
            <div class="form-group">
                <label for="titulo">Nombre de la mascota</label>
                <input type="text" class="form-control" id="titulo" placeholder="lola" id="nombre" formControlName="nombre" >
            </div>
            <div class="form-group">
                <label for="titulo">Tipo</label>
                <input type="text" class="form-control" id="raza" placeholder="caniche" id="tipo" formControlName="tipo">
            </div>
            <div class="form-group">
                <label for="titulo">Raza</label>
                <input type="text" class="form-control" id="raza"  formControlName="raza" placeholder="caniche">
            </div>
            <div class="form-group">
                <label for="sexo">Sexo</label>
                <select class="form-control" id="sexo" formControlName="sexo">

                    <option hidden value="hembra">Elegir sexo</option>
                    <option value="hembra">Hembra</option>
                    <option value="macho">Macho</option>
                </select>
            </div>
            <div class="form-group">
                <label for="titulo">tamaño</label>
                <input type="text" class="form-control" id="tamanio" formControlName="tamanio" placeholder="caballito">
            </div>
            
            <div class="form-group">
                <label for="imagen">Foto de la mascota</label>
                <input type="file" class="form-control" id="foto" formControlName="foto" accept="image/*">
            </div>
            <div class="form-group">
                <label for="titulo">Zona</label>
                <input type="text" class="form-control" id="zona" formControlName="zona" placeholder="caballito">
            </div>
            <div class="form-group">
                <label for="titulo">fecha de extravio</label>
                <input type="text" class="form-control" id="fecha" formControlName="fecha" placeholder="caballito">
            </div>
            <div class="form-group">
                <label for="titulo">estado</label>
                <select class="form-control" id="estado" formControlName="estado">

                    <option hidden value="">Estado</option>
                    <option value="perdido">perdido</option>
                    <option value="encontrado">encontrado</option>
                </select>
            </div>

            <div class="form-group">
                <label for="titulo">ubicacion</label>
                <input type="text" class="form-control" id="ubicacion" formControlName="ubicacion" placeholder="caballito">
            </div>
            <div class="form-group">
                <label for="titulo">direccion</label>
                <input type="text" class="form-control" id="direccion" formControlName="direccion" placeholder="perdido">
            </div>
            <div class="form-group">
                <label for="titulo">Descripcion</label>
                <textarea class="form-control" id="descripcion" formControlName="descripcion" placeholder="Descripcion"></textarea>
            </div>

            <div class="form-group">
                <label for="titulo">Contacto</label>
                <input type="text" class="form-control" id="contacto" formControlName="contacto" placeholder="caballito">
            </div>

            <button type="submit">Publicar</button>
        </form>
    </div>
</div>