<div class="container">
    <div class="titulo">
        <h1>Datos de la publicacion</h1>
    </div>
    <div class="containerForm">

        <form (ngSubmit)="publicarAnuncio()">
            <input type="text" [(ngModel)]="publicacion.nombre" name="nombre" placeholder="Nombre de la mascota">
            <select [(ngModel)]="publicacion.tipo" name="tipo">
                <option value="" disabled selected>Selecciona un tipo</option>
                <option value="perro">Perro</option>
                <option value="gato">Gato</option>
            </select>            
            <input type="text" [(ngModel)]="publicacion.raza" name="raza" placeholder="Raza">
            <select [(ngModel)]="publicacion.sexo" name="sexo">
                <option value="" disabled selected>Selecciona el sexo</option>
                <option value="Hembra">Hembra</option>
                <option value="Macho">Macho</option>
              </select>            
            <select [(ngModel)]="publicacion.tamanio" name="tamanio">
                <option value="" disabled selected>Selecciona un tamaño</option>
                <option value="pequeño">Pequeño</option>
                <option value="mediano">Mediano</option>
                <option value="grande">Grande</option>
              </select>            
              <label for="Foto">Selecciona una foto

                  <input  type="file" [(ngModel)]="publicacion.foto" name="foto" placeholder="Foto">
              </label>
            <input type="text" [(ngModel)]="publicacion.zona" name="zona" placeholder="Zona">
            <input type="text" [(ngModel)]="publicacion.ubicacion" name="ubicacion" placeholder="Ubicación">
            <input type="date" [(ngModel)]="publicacion.fechaExtravio" name="fechaExtravio" placeholder="Fecha de Extravio">
            <textarea [(ngModel)]="publicacion.descripcion" name="descripcion" placeholder="Descripción"></textarea>
            <input type="text" [(ngModel)]="publicacion.contacto" name="contacto" placeholder="Contacto">
            <button type="submit">Publicar Anuncio</button>
        </form>
    </div>
</div>